.pagina {
    display: flex;
    margin-top: 50px;
}

.formularioSecaoUm form input {
    border: 1px solid black;
    display: block;
}

.secaoUm {
    margin: 0 100px 0 50px;
}

.textoSecaoUm {
    width: 500px;
    height: 281px;
    text-align: justify;
    line-height: 1.5;
}

.titulo-sobre {
    font-size: 50px;
    margin-bottom: 15px;
}

.titulo-contato {
    font-size: 25px;
    margin-bottom: 15px;
}