.pagina {
    display: flex;
    margin: 50px auto 80px auto;
    width: 1200px;
}

.form {
    font-family: 'Inter';
}

.form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 7px;
}

.textarea {
    padding: 10px;
    font-family: 'Inter';
    font-size: 16px;
    max-width: 100%;
    width: 500px;
    height: 170px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    margin-bottom: 15px;
  }

.secaoUm {
    margin: 0 100px 0 50px;
}

.textoSecaoUm {
    width: 500px;
    height: 400px;
    text-align: justify;
    line-height: 1.5;
}

.titulo_sobre {
    font-size: 50px;
    margin-bottom: 15px;
}

.titulo_contato {
    font-size: 25px;
    margin-bottom: 35px;
}

.form label {
    padding-bottom: 7px;
    font-weight: bold;
    display: block;
}

.campos_de_nome {
    display: flex;
}

.nome, .apelido {
    width: 250px;
}

.nome {
    margin-right: 20px
}

.nome input, .apelido input {
    width: 230px;
}

.email input {
    width: 500px;
}

#botao {
    width: 500px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}