.intro_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.intro_container h1 {
  font-size: 48px;
}

.intro_container p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
  line-height: 150%;
}

.intro_container a {
  padding: 20px 32px;
  text-align: center;
  border-radius: 8px;
  background-color: black;
  color: white;
  width: fit-content;
}

.image_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image_container img {
  border-radius: 8px;
}

.receitas_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top : 12px;
  margin-bottom: 18px;
}

.receitas_container_header {
  display: flex;
  justify-content: space-between;
}

.receitas_container_header h1 {
  font-size: 32px;
}

#botao_ver_mais {
  text-align: center;
  border-radius: 8px;
  border: 2px solid black;
  padding: 14px 16px;
  font-weight: 500;
  transition: 250ms ease-out;
}

#botao_ver_mais:hover {
  background-color: black;
  color: white;
}

.categorias_container {
  display: flex;
  gap: 12px;
}

.descricao_container {
  display: flex;
  margin-top: 18px;
}

.texts_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.description_text_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 24px;
  line-height: 150%;
}

.description_text_container h3 {
  font-weight: 500;
}

.description_text_container p {
  font-weight: 400;
  color: #828282;
}

.feedbacks_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feedbacks_container h1 {
  font-size: 36px;
  margin-top: 24px;
}

.feedbacks_listing {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
