.add-recipe-form {
  align-items: flex-start;
  background-color: var(--brand-colorswhite);
  display: inline-flex;
  flex-direction: column;
  gap: 80px;
  height: 3910px;
  padding: 66px;
  position: relative;
}

.add-recipe-form .add-recipe-inputs {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 48px;
  height: 3450px;
  position: relative;
}

.add-recipe-form .add-a-recipe-photo {
  height: 1450px;
  position: relative;
  width: 1140px;
}

.add-recipe-form .text-wrapper-2 {
  color: var(--brand-colorslight-black);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 48px;
  font-weight: 600;
  left: 347px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
}

.add-recipe-form .p {
  color: var(--shadow-grey);
  font-family: var(--mainly-used-text-styles-body-w-line-height-font-family);
  font-size: var(--mainly-used-text-styles-body-w-line-height-font-size);
  font-style: var(--mainly-used-text-styles-body-w-line-height-font-style);
  font-weight: var(--mainly-used-text-styles-body-w-line-height-font-weight);
  left: 0;
  letter-spacing: var(
      --mainly-used-text-styles-body-w-line-height-letter-spacing
  );
  line-height: var(--mainly-used-text-styles-body-w-line-height-line-height);
  position: absolute;
  top: 113px;
  width: 1140px;
}

.add-recipe-form .upload-image {
  background-color: #d9d9d9;
  border: 3px dashed;
  border-color: #828282;
  border-radius: 8px;
  height: 200px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 286px;
  width: 1140px;
}

.add-recipe-form .add-a-photo-button-instance {
  background-color: #444444 !important;
  border: 1px solid !important;
  border-color: #000000 !important;
  box-shadow: 0px 4px 4px #00000040 !important;
  left: 474px !important;
  top: 75px !important;
}

.add-recipe-form .add-a-photo-button-2 {
  background-color: #444444 !important;
}

.add-recipe-form .divider {
  height: 2px;
  left: 0;
  position: absolute;
  top: 236px;
  width: 1140px;
}

.add-recipe-form .img {
  height: 2px;
  left: 0;
  position: absolute;
  top: 1036px;
  width: 1140px;
}

.add-recipe-form .divider-2 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 1448px;
  width: 1140px;
}

.add-recipe-form .servings-prep-time {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 48px;
  left: 0;
  position: absolute;
  top: 1094px;
}

.add-recipe-form .title-input {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 248px;
  position: relative;
}

.add-recipe-form .design-component-instance-node-3 {
  flex: 0 0 auto !important;
}

.add-recipe-form .input-field-wo-label-5 {
  height: 68px !important;
  width: 288px !important;
}

.add-recipe-form .input-field-wo-label-6 {
  width: 236px !important;
}

.add-recipe-form .prep-time-input {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 80px;
  opacity: 0.8;
  position: relative;
}

.add-recipe-form .label-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.add-recipe-form .hrs-mins {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.add-recipe-form .input-field-wo-label-7 {
  height: 68px !important;
  width: 134px !important;
}

.add-recipe-form .input-field-wo-label-8 {
  width: 82px !important;
}

.add-recipe-form .prep-time-input-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 132px;
  position: relative;
}

.add-recipe-form .recipe-title {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 48px;
  left: 0;
  position: absolute;
  top: 534px;
}

.add-recipe-form .title-input-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.add-recipe-form .input-field-wo-label-9 {
  height: 74px !important;
  width: 1140px !important;
}

.add-recipe-form .input-field-wo-label-10 {
  width: 1088px !important;
}

.add-recipe-form .input-field-wo-label-11 {
  height: 230px !important;
  width: 1140px !important;
}

.add-recipe-form .ingredients {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 56px;
  margin-bottom: -130.00px;
  position: relative;
}

.add-recipe-form .ingredients-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.add-recipe-form .ingredients-3 {
  height: 122px;
  position: relative;
  width: 1140px;
}

.add-recipe-form .text-wrapper-3 {
  color: var(--shadow-grey);
  font-family: var(--mainly-used-text-styles-body-w-line-height-font-family);
  font-size: var(--mainly-used-text-styles-body-w-line-height-font-size);
  font-style: var(--mainly-used-text-styles-body-w-line-height-font-style);
  font-weight: var(--mainly-used-text-styles-body-w-line-height-font-weight);
  left: 0;
  letter-spacing: var(
      --mainly-used-text-styles-body-w-line-height-letter-spacing
  );
  line-height: var(--mainly-used-text-styles-body-w-line-height-line-height);
  position: absolute;
  top: 45px;
  width: 1140px;
}

.add-recipe-form .label-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.add-recipe-form .ingredient-listing-instance {
  font-size: 16px !important;
  width: 82px !important;
}

.add-recipe-form .divider-3 {
  height: 2px;
  position: relative;
  width: 1140px;
}

.add-recipe-form .instructions {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.add-recipe-form .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.add-recipe-form .text-wrapper-4 {
  color: var(--shadow-grey);
  font-family: var(--mainly-used-text-styles-body-w-line-height-font-family);
  font-size: var(--mainly-used-text-styles-body-w-line-height-font-size);
  font-style: var(--mainly-used-text-styles-body-w-line-height-font-style);
  font-weight: var(--mainly-used-text-styles-body-w-line-height-font-weight);
  letter-spacing: var(
      --mainly-used-text-styles-body-w-line-height-letter-spacing
  );
  line-height: var(--mainly-used-text-styles-body-w-line-height-line-height);
  position: relative;
  width: 1140px;
}

.add-recipe-form .add-button-2 {
  font-size: 21px !important;
  margin-left: -16.00px !important;
  margin-right: -16.00px !important;
}

.add-recipe-form .add-button-3 {
  display: flex !important;
  flex: 0 0 auto !important;
  width: 276px !important;
}

.add-recipe-form .remove-button-2 {
  height: 68px !important;
  position: relative !important;
  width: 68px !important;
}

.add-recipe-form .tags {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.add-recipe-form .tag-options {
  height: 130px;
  position: relative;
  width: 1140px;
}
