.paragrafo {
    color: var(--Shadow-Grey, #444);
    /* Mainly used Text Styles/Body w line height */
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    /* 172.727% */
}

.outer_container {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    background: var(--Brand-Colors-White, #FFF);
    box-shadow: 0px 0px 10px 0px rgba(29, 29, 29, 0.25);
    padding: 66px;
    gap: 48px;
}

.main_topic_container {
    text-align: center;
}

.main_topic_container h1 {
    color: var(--Brand-Colors-Light-Black, #1D1D1D);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.linha_divisoria {
    width: 100%;
    height: 2px;
    background-color: rgba(111, 111, 111, 0.3);
}

.adicionar_img_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 8px;
    border: 3px dashed #828282;
    background: #D9D9D9;
}

.button_adicionar_img {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid #000;
    background: #454545;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.adicionar_img_container span {
    color: #EEE;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.label_input {
    color: var(--Brand-Colors-Light-Black, #1D1D1D);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input_titulo {
    display: flex;
    padding: 24px 26px 20px 26px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid rgba(130, 130, 130, 0.70);
    background: #FBFBFB;
    color:black;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input_titulo::placeholder {
    color: var(--Light-Grey, #ACACAC);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input_descricao {
    width: 100%;
    min-height: 120px;
    padding: 26px 24px 26px 12px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: black;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: wrap;
}

.input_descricao::placeholder {
    color: var(--Light-Grey, #ACACAC);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: wrap;
}

.minor_info_container1 {
    display: flex;
    align-items: center;
    gap: 248px;
}

.minor_info_container2 {
    display: flex;
    align-items: center;
    gap: 84px;
}

.minor_info_container2 div {
    display: flex;
    width: 288px;
    justify-content: space-between;
}

.input_porcoes {
    display: flex;
    width: 288px;
    height: 68px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
    display: flex;
    padding: 24px 26px 26px 24px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid rgba(130, 130, 130, 0.70);
    background: #FBFBFB;
    color: var(--Light-Grey, black);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input_tempo {
    display: flex;
    width: 134px;
    height: 68px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    display: flex;
    padding: 24px 26px 26px 24px;
    border-radius: 10px;
    border: 1px solid rgba(130, 130, 130, 0.70);
    background: #FBFBFB;
    color: var(--Light-Grey, black);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ingredientes_main_container  {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ingredientes_header_container p {
    color: var(--Shadow-Grey, #444);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 172.727% */
}

.botao_add_ingrediente {
    color: var(--Brand-Colors-Light-Black, #1D1D1D);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border-radius: 50px;
    width: fit-content;
    transition: 250ms ease-out;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.botao_add_ingrediente:hover {
    background-color: #454545;
    color: white;
}

.categoria_select {
    margin-top: 24px;
    width: 100%;
    display: flex;
    padding: 15px 15px 15px 26px;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid rgba(130, 130, 130, 0.70);
    background: #FBFBFB;
    color: var(--Light-Grey, #ACACAC);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.end_container {
    display: flex;
    align-self: flex-end;
    gap: 24px;
}

.ending_paragraph {
    width: 100%;
    color: var(--Shadow-Grey, #444);
    font-family: Poppins;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.button {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 2px solid #454545;
    cursor: pointer;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cancel_button {
    color: #454545;
    font-family: Poppins;
}

.save_button {
    color: white;
    background: #454545;
}