#moduloExternoCriarIngredientes {
    width: 1272px;
    height: 3910px;
    margin: 150px auto 80px auto;
    box-shadow: 0px 0px 10px #00000038;
}

#moduloInternoCriarIngredientes {
    width: 1140px;
    margin: 66px auto 0 auto;
}

#tituloCriarIngrediente {
    font-size: 48px;
    text-align: center;
    padding-top: 70px;
    font-family: 'Inter';
    font-weight: 600;
}

#descricaoCriarIngredientes {
    margin-top: 58px;
    color: #444444;
    font-size: 21.7px;
    font-family: "Poppins";
}

#descricaoLabel {
    margin-top: 17px;
    margin-bottom: 17px;
    color: #444444;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    font-family: "Poppins";
}

#botaoReOrder {


}

#botaoAddIngrediente {
    margin-top: 30px;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
    color: #000000;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#linhaDivisoria {
    background-color: #00000011;
    width: 1140px;
    height: 3px;
    margin-top: 40px;
}

#areaAdicionarImagem {
    margin-top: 40px;
    border-radius: 6px;
    width: 1140px;
    height: 200px;
    background-color: #D9D9D9;
    border: 4px dotted #828282;
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#botaoAdicionarImagem {
    background: #454545;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    width: 192px;
    height: 50px;
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #EEEEEE;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#inputNomeIngrediente {
    width: 1140px;
    height: 74px;
    border: 1px solid #45454536;
    background-color: #82828211;
    font-family: 'Poppins';
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 17px;
}

#inputPorciones {
    width: 300px;
    height: 68px;
    border: 1px solid #45454536;
    background-color: #82828211;
    font-family: 'Poppins';
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 248px;
    padding-left: 17px;
}

#inputTiempoP {
    width: 134px;
    height: 68px;
    border: 1px solid #45454536;
    background-color: #82828211;
    font-family: 'Poppins';
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 80px;
    padding-left: 17px;
}

#inputTiempoP2 {
    width: 134px;
    height: 68px;
    border: 1px solid #45454536;
    background-color: #82828211;
    font-family: 'Poppins';
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 17px;
}

#inputDescricao {
    display: flex;
    width: 1140px;
    height: 230px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    border: 1px solid #45454536;
    background-color: #82828211;
    font-family: 'Poppins';
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

#inputNomeIngrediente::placeholder {
    color: #ACACAC;
    font-family: 'Poppins';
}

#inputPorciones::placeholder {
    color: #ACACAC;
    font-family: 'Poppins';
}

#inputTiempoP::placeholder {
    color: #ACACAC;
    font-family: 'Poppins';
}

#inputTiempoP2::placeholder {
    color: #ACACAC;
    font-family: 'Poppins';
}

#inputDescricao::placeholder {
    color: #ACACAC;
    font-family: 'Poppins';
    position: absolute;
    width: 1088px;
    top: 23px;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
}

#moduloInputNomeIngrediente {
    margin-top: 40px;
}

#labelNomeIngrediente {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
}

#labelPorciones {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
}

#labelTiempoP {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
}

#labelDescricao {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
}

#botoes {
    float: right;
    margin-top: 100px;
}

#botaoCancelar {
    width: 152px;
    height: 56px;
    background-color: white;
    border: 2px solid #454545;
    border-radius: 30px;
    color: #454545;
    font-size: 23px;
    font-weight: 450;
    margin-right: 20px;
    font-family: "Poppins";
}

#botaoAgregarReceta {
    width: 200px;
    height: 56px;
    background-color: #454545;
    color: white;
    border-radius: 30px;
    font-size: 23px;
    font-weight: 400;
    font-family: "Poppins";
}

.required:after {
    content: " *";
    color: #DB0F0F;
}