footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
    font-size: medium;
    padding: 12px;
    border-top: 1px solid black;
}

footer img {
    object-fit: contain;
}

#links_footer {
    display: flex;
    flex-direction: row;
}

.references {
    display: flex;
    flex-direction: column;
    margin: 0px 18px;
}

.references a {
    margin: 8px 0px;
}

.main-reference {
    font-weight: bold;
}

#menu-mobile {
    display: none;
}