.main_container {
    display: flex;
    flex-direction: column;
}

.main_container img {
    width: 440px;
    height: auto;
}

.main_container h3 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
}

.main_container p {
    color: #828282;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}