* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin: 56px;
}

input {
  pointer-events: auto;
  user-select: text;
}