button {
    border: none;
    background-color: inherit;
}

.input_adicionar_ingrediente {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}

.input_quantidade {
    display: flex;
    width: 134px;
    height: 68px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: 12px 13px 10px 13px;
    color: var(--Light-Grey, black);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    border: 1px solid rgba(130, 130, 130, 0.70);
    background: #FBFBFB;
}

.input_medicao {
    display: flex;
    width: 288px;
    height: 68px;
    padding: 15px 15px 15px 26px;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid rgba(130, 130, 130, 0.70);
    background: #FBFBFB;
    color: var(--Light-Grey, black);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input_produto {
    width: 558px;
    height: 68px;
    gap: 6px;
    color: var(--Light-Grey, black);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding: 24px 26px 14px 26px;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid rgba(130, 130, 130, 0.70);
    background: #FBFBFB;
}

input:focus, input::selection {
    border: none;
}