.section {
    display: flex;
    flex-direction: column;
}

.image_container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 640px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    text-align: center;
}

.image_container h1, .image_container p {
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.criar_container {
    display: flex;
    align-self: end;
    margin: 16px 0;
    font-size: 18px;
    transition: 250ms ease-out;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.criar_container:hover {
    background-color: black;
    color: white;
}

.receitas_container {
    display: flex;
}