#intro-receitas {
    display: flex;
    justify-content: space-between;
}

#intro-receitas span {
    color: rgba(0, 0, 0, 0.75);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 75%; /* 36px */
    margin-top: 10000px;
}

#intro-receitas h1 {
    margin-bottom: 12px;
    font-size: 48px;
}

#intro-receitas a {
    color: #1D1D1D;
    text-align: right;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}